@using StomatologyMVC.Extensions
@model StomatologyMVC.Models.ApplicationViewModels

@{
    ViewBag.Title = "Создание заявки";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular.js")
    @Scripts.Render("~/bundles/angular-route.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
}
    
<div ng-app="application">
    <ng-view></ng-view>
</div>